{% extends 'Giris_Yaptiktan_Sonra/Takip_Ettigim_Akis.html' %}
{% load static %}
{% block only_signed_in %}
{% endblock %}
{% block title %}
    <title>Nasıl Başladık</title>
{% endblock %}
{% block only_signed_in_2 %}
{% endblock %}
{% block icerik %}
    <main role="main" class="container">
  <div style="background-color: #1A2D34" class="align-items-center p-3 my-3 text-white-50 rounded shadow-sm">
    <div class="lh-100 font-headers-2">
      <h6 class="mb-0 text-white text-center lh-100">Voldemath ·· Nasıl Başladık?</h6>
    </div>
  </div>


  <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div class="media pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray font-headers-4">
                    <strong class="d-block text-black">Voldemath <span class="text-black">·</span></strong>
                      <br>
                    Nasıl başladık yazısı...
                  </p>
                </div>
  </div>
    <p class="small text-center">{{ time }}</p>
</main>
{% endblock %}