{% extends 'Çöp Olması Gereken Templateler/karsilama.html' %}
{% load static %}
{% block backgroundimg %}{% endblock %}



{% block icerik %}
<div style="margin-top: 5em;">
    <form method="post">
      {% csrf_token %}
      <h3 class="cover-heading text-dark">Recommend us</h3>
        <br />
      {{ form.as_p }}
      <button type="submit" class="btn bg-success"
              style="font-family: calibri; background-color: #1c313a; color: #ffffff;">Send recommendation</button>
      <br>
      <br>
    </form>
</div>
{% endblock %}
