{% extends 'enter-world.html' %}
{% load static %}
{% block title %}
    <title>Yeni Paylaşım · Voldemath</title>
{% endblock %}
{% block icerik %}
    <div class="wrapper" id="wrapper">
        <header id="header" style="background-color: #1A2D34" class="header sticky-header cr-border-bottom">
			<div class="container d-none d-lg-block">
				<div class="header-inner">
					<a href="/" class="logo">
                        <h4 class="font-headers-4" style="color: #FFFFFF">Voldemath</h4>
					</a>
					<nav class="mainmenu">
						<ul>
							<li class="cr-dropdown">
								<a href="index.html"></a>
							</li>

						</ul>
					</nav>
				</div>
			</div>
		</header>
    </div>
    <div class="container">
        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Normal Paylaşım Ekranı</div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <hr color="green">
                <p class="text-success text-center">{{message}}</p>
                {% endfor %}
            {% endif %}
            {% if user.user.Normal_paylasim_yapabilir_mi %}
            <div class="panel-body" >
                <form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">
                   {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-book"></i></span>
                        <select id="{{ form.ders.id_for_label }}" name="{{ form.ders.html_name }}" class="form-control">
                          {% for ders in dersler %}
                          <option value="{{ ders.id }}" >{{ ders.name }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <p class="font-headers-3 text-center">Eğer konun yukarıda yok ise, <a style="color: #428bca" href="/yeniKonu/">yeni bir konu oluştur</a></p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-pencil-alt"></i></span>
                        <textarea id="{{ form.text.id_for_label }}" name="{{ form.text.html_name }}" class="form-control" style="height: 100px;" placeholder="Paylaşımınız hakkında genel, kısaca bilgi verecek olan önyazı" required></textarea>
                    </div>
                    <p class="text-dark text-center font-headers-4">Paylaşım dosyanızı ek olarak aşağıya yükleyiniz.</p>
                    <input type="file" id="{{ form.dosya.id_for_label }}" name="{{ form.dosya.html_name }}" class="text-light text-center" style="position: relative; border: none; margin-left: 30%;" required>
                    <hr class="bg-success">
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button type="submit" href="#" class="btn btn-primary btn-block font-headers-1"><i class="glyphicon glyphicon-log-in"></i> Yazını paylaşılmak üzere gönder.</button>
                        </div>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <p class="text-success">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                </form>
            <p class="text-left">Not: Yazınız paylaşılmak üzere gönderildiğinde site adminlerimize onaylanmak üzere gönderilir ve onaylandığı takdirde size bir e-mail gönderilip bilgilendirilerek sitemizde yayınlanır.</p>
            </div>
            {% else %}
                <p class="font-headers-3 text-center">Üzgünüz, şuanda bir paylaşıcı değilsin, eğer paylaşımlarda bulunmak istiyorsan <a style="color: #428bca" href="/yeniPaylasimci/14504169u{{ user.id }}">bu linke</a> tıklayıp paylaşımlarda bulunmak istediğine dair bir istek oluşturabilirsin.</p>

            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}