.hafifortala{
    margin-top: 4em;
}
.bg-black{
    background-color: black;
}
.text-black{
    color: black;
}
.border-white{
    border: 1px solid white;
}
.auto{
    height: auto;
    width: auto;
}
.center {

  width:
  60%;
  margin: 0 auto;


}