.font-headers-1 {
    font-family: 'Liu Jian Mao Cao', cursive;
}
.font-texts-1 {

}
.font-headers-2 {
    font-family: 'Roboto Condensed', sans-serif;
}
.font-texts-2 {

}
.font-headers-3 {
    font-family: 'Big Shoulders Text', cursive;
}
.font-texts-3 {

}
.font-headers-4 {
    font-family: 'Muli', sans-serif;
}
.font-texts-4 {

}
.font-headers-5 {
    font-family: 'Open Sans Condensed', sans-serif;
}
.font-texts-5 {

}
.font-headers-6 {
    font-family: 'Work Sans', sans-serif;
}
.font-texts-6 {

}
.vm-tcolors-blue-1{
    color: #4285F4;
}
.vm-bcolors-blue-1{
    background-color: #4285F4;
}
.vm-tcolors-brown-1{
    color: #6e564b;
}
.vm-tcolors-darkgreen-1{
    color: #1A2D34;
}
.vm-tcolors-darkgreen-2{
    color: #496345;
}
